html {
  font-size: 1px;
  -webkit-text-size-adjust: none;
}

@media (min-width: 641px) and (max-width: 1439px) {
  html {
    font-size: 0.0694444444vw;
  }
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: bold;
  src: url('../assets/fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: medium;
  src: url('../assets/fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
}
