html {
  font-size: 1px;
  -webkit-text-size-adjust: none;
}

@media (min-width: 721px) and (max-width: 1439px) {
  html {
    font-size: 0.06961111110vw;
  }
}

@media (max-width: 720px) {
  html {
      font-size: .27777777778vw;
  }
}

